* {
  box-sizing: border-box;
}
body{font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}
.box {border:1px solid black;
      width: 100%;
      float: left;
      margin: 10px;
      background-color: #999999;
      }
      
.content-name {float:right;
              border: 1px solid black;
              width: 100px;
              margin-top: 0;
              text-align: center;
              }
.content {padding: 30px 10px 10px 10px;
          margin:10px;}

.pink{background-color: #FFB6C1;
}

.red{background-color: #FF0000;
}
.yellow{background-color: #FFFF00;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 31%;
    margin-left: 20px;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 45%;
    margin-left: 10px;
  }
  .col-md-12 {
    margin-left: 10px;
    width: 91%;
  }
  }

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}
